body {
    font-family: sans-serif;
    margin: 20px;
    background: linear-gradient(135deg, #e0f2f7, #f0f8ff); /* Gradient background */
    color: #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow box */
}
 h2{
    text-align: center;
 }
form {
    background: linear-gradient(135deg, #ffffff, #f0f0f0); /* Gradient background form */
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Stronger shadow */
    width: 400px; /* Lebar formulir lebih besar */
    margin: 30px auto;
    border: 1px solid #ddd;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #555;
}

input[type="text"],
select {
    width: calc(100% - 16px);
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid #ddd; /* Border lebih jelas */
    border-radius: 6px;
    box-sizing: border-box;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input[type="text"]:focus,
select:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

button {
    background-color: #007bff;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    width: 100%;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

button:hover {
    background-color: #0056b3;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
}